body {
    max-width: 1100px;
    padding: 0 100px;
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin: 0;
    line-height: 1.5;

}
img{ 
    max-width: 100%;
}

p {
    max-width: 370px;
}

h2 {
    font-size: 24px;
    margin: 90px auto 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid white;
}


h3 {
    margin: 0;
    padding: 0;
}

a { 
    margin: 0;
    padding: 20px; 
    text-decoration: none;
    color: #999999;
}

footer {
    background-color: #1A1A1A;
    padding:30px;
    margin-bottom: 100px;
}

footer a {
    margin-right: 25px;
    padding-top: 25px;
    padding-left: 0;
}


.logo { 
    padding:  150px 0;
    display: block;
}


.image_1 {
    margin: 90px 0 ;
    
}
.quote { 
    padding: 15px;
    background-color: white;
    color: black;
    margin-top: 50px;
    margin-bottom: 90px;
    max-width: 600px;
}

.image_3 {
    margin-top: 90px;
}

.image_3 .quote {
    max-width: 1100px;
}

.process {
    margin-bottom: 90px;
}

.mail {
    margin-top: 30px;
}



@media (max-width: 700px) {
body    { 
    font-size: 12px;
    padding: 0 30px;
    max-width: 100%;
}

section {
    max-width: 100%;
}

img {
    max-width: 100%;
}

h2 {
    margin-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
footer {
    padding: 10px;
    margin-bottom: 30px;
}
.about_text {
    padding: 10px auto;
}

.logo {
    max-width: 70%;
    padding: 30px 0 10px 0;
}

.image_1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.quote {
    margin-top: 20px;
    margin-bottom: 40px;
}

.image_3 {
    margin-top: 30px;

}

.process {
    margin-bottom: 30px;
}



}



